
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% block title %}Cook With Me{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link href="public/build/app.css" rel="stylesheet">
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body id="{% block body_id %}{% endblock %}">

        {% block header %}
            <header>
                <div class="navbar navbar-default navbar-static-top" role="navigation">
                    <div class="container">
                        <div class="navbar-header col-md-3 col-lg-2">
                            <a class="navbar-brand" href="{{ path('homepage') }}">
                                <img class="logo" src="https://scontent.fcdg2-1.fna.fbcdn.net/v/t1.0-9/106393747_117891206642157_5021413331426645543_o.png?_nc_cat=110&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=o-qHQcNFJ4kAX96t-ZY&_nc_ht=scontent.fcdg2-1.fna&oh=0d291212c44bd6a36cd89d2cdcc623f6&oe=607B6F49"  alt="logo">

                            </a>

                            <button type="button" class="navbar-toggle"
                                    data-toggle="collapse"
                                    data-target=".navbar-collapse">
                                <span class="sr-only">{{ 'menu.toggle_nav'|trans }}</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right">

                                {% block header_navigation_links %}
                                    <li>
                                        <a href="{{ path('blog_index') }}">
                                            <i class="fa fa-home" aria-hidden="true"></i> {{ 'Accueil' }}
                                        </a>
                                    </li>

                                    {% if is_granted('ROLE_ADMIN') %}
                                        <li>
                                            <a href="{{ path('admin_post_index') }}">
                                                <i class="fa fa-lock" aria-hidden="true"></i> {{ 'Admin' }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endblock %}

                                <li>
                                    <a href="{{ path('blog_search') }}"> <i class="fa fa-search"></i> {{ 'recherche' }}</a>
                                </li>

                                {% if app.user %}
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" id="user">
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                            <span class="caret"></span>
                                            <span class="sr-only">{{ app.user.fullname }}</span>
                                        </a>
                                        <ul class="dropdown-menu user" role="menu" aria-labelledby="user">
                                            <li>
                                                <a href="{{ path('user_edit') }}">
                                                    <i class="fa fa-edit" aria-hidden="true"></i> {{ 'Compte' }}
                                                </a>
                                            </li>
                                            <li class="divider"></li>
                                            <li>
                                                <a href="{{ path('security_logout') }}">
                                                    <i class="fa fa-sign-out" aria-hidden="true"></i> {{ 'Fermer la session' }}
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                {% endif %}

                                
                                        {% for locale in locales() %}
                                            
                                        {% endfor %}
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
        {% endblock %}

        <div class="container body-container">
            {% block body %}
                <div class="row">
                    <div id="main" class="col-sm-9">
                        {{ include('default/_flash_messages.html.twig') }}

                        {% block main %}{% endblock %}
                    </div>

                    <div id="sidebar" class="col-sm-3">
                        {% block sidebar %}
                            {{ render_esi(controller('Symfony\\Bundle\\FrameworkBundle\\Controller\\TemplateController::templateAction', {
                                'template': 'blog/about.html.twig',
                                'sharedAge': 600,
                                '_locale': app.request.locale
                            })) }}
                        {% endblock %}
                    </div>
                </div>
            {% endblock %}
        </div>

        {% block footer %}
            <footer>
                <div class="container">
                    <div class="row">
                        <div id="footer-copyright" class="col-md-6">
                            <p>&copy; {{ 'now'|date('Y') }} Cock With Me</p>
                            <p>{{ 'Merci a vous'|trans }}</p>
                        </div>
                       
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        {
    </body>
</html>
